$text-font: 'Open Sans', sans-serif;
$header-font: 'Raleway', sans-serif;

$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

$lt-font-weight: 200;
$rg-font-weight: 300;
$md-font-weight: 500;
$bd-font-weight: 600;

$gigantic-font-size: 3em;
$xxl-font-size: 2.4em;
$xl-font-size: 2.2em;
$l-font-size: 2em;
$l-md-font-size: 1.7em;
$md-font-size: 1.4em;
$md-reg-font-size: 1.2em;
$reg-font-size: 1em;
$sm-font-size: 0.8em;

$new-bg-color: rgba(242, 239, 241, 1);

$v-dk-bg-color: rgba(219, 212, 218, 1);
$dk-bg-color: rgba(219, 212, 218, 0.5);
$md-bg-color: rgba(219, 212, 218, 0.3);
$lt-bg-color: rgba(219, 212, 218, 0.1);

$dk-line-color: rgba(30, 30, 30, 0.8);
$md-line-color: rgba(30, 30, 30, 0.5);
$lt-line-color: rgba(30, 30, 30, 0.3);
